<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skoot.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>15</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
				<key>dateExpires</key>
				<string>5/9/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>22.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>22.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>22.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeFinancialConnections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>22.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>22.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>face_camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_email_sender.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_login_facebook.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>open_mail_app.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>stripe_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>410901D3405241BA4ED098C956A78B3EEC6C0CB7</string>
						<key>dateExpires</key>
						<string>5/9/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DU976XWAN7</string>
						<key>name</key>
						<string>Skoot Now Co. LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DU976XWAN7.com.skoot.now</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>DU976XWAN7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3d06cc35-15e2-45fd-9f03-d48ea18a5459</string>
				<key>dateExpires</key>
				<string>7/13/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.skoot.now</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DU976XWAN7</string>
				<key>name</key>
				<string>Skoot Now Co. LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.5</string>
		</dict>
	</array>
</dict>
</plist>
